@charset "UTF-8";
#imawa{
    color: #8d0000;
    
}
#yume{
   background-color: #dd2525;
    padding: 30;
}
#kasi{
    background-color: #ff8a8a;
    padding: 20px;
    width: 500px;
    
}
#imawanokiwa{
    background-color: #ee6767;
    width: auto;
}
#higeki{
    background-color: #dd2525;
    padding: 30;
}
#kasi2{
    background-color: #ff8a8a;
    padding: 20px;
    width: 500px;
    
}
#daimei{
    text-decoration: underline;
;
}
#gyoukan{                        
   display: 3px;
}
#kasi3{
    background-color: #ff8a8a;
    padding: 20px;
    width: 500px;
}
#zetubou{
    background-color: #dd2525;
    padding: 30;
}
#kasi4{
    background-color: #ff8a8a;
    padding: 20px;
    width: 500px;
}
#My{
    background-color: #ee6767;
    width: 700px;
}
#fuck{
    background-color: #ee6767;
    width: 700px;
}
#I{
    background-color: #ee6767;
    width: 700px;
}